<div class="body-wrapper" [ngClass]="[isSun ? 'sun-theme-bg' : 'moon-theme-bg']">
  <div class="main-wrapper">
    <section class="top-nav-wrapper">
      <app-top-nav></app-top-nav>
    </section>

    <div class="menu-route-page-wrapper">
      <section class="left-nav-wrapper">
        <app-left-nav 
        [(isSunThemeParent)]="isSun" 
        (getThemeStatusChange)="changeTheme($event)"></app-left-nav>
      </section>


      <section class="route-page-wrapper">
        <router-outlet></router-outlet>
      </section>
      </div>
  </div>
</div>
